* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

h3, h4, b {
  font-weight: 700;
}

body, html {
  height: 100%;
  text-align: center;
}

body {
  background-color: #ffffff;
}

/*-------------- Loading Animation ----------- */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252525;
  z-index: 1000;
  -webkit-animation: fadeout 3s forwards;
          animation: fadeout 3s forwards;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ececec;
  border-top-color: #99E2D0;
  border-radius: 50%;
  -webkit-animation: loading 0.75s ease infinite;
          animation: loading 0.75s ease infinite;
}

@-webkit-keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/* ------------- Nav-header ------------------*/
.logo {
  float: none !important;
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: 80px !important;
  margin: 0 auto !important;
  padding: 0px !important;
  text-align: center;
}
.logo:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
.logo img {
  max-width: 50%;
  max-height: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.location-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #d5d5d5;
}

.location-search input {
  border: none;
  padding-left: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  background-color: #d5d5d5;
}

.location-search button {
  border: none;
  background-color: transparent;
  font-size: 18px;
}

/* ----------------- Intro-Text---------------- */
.intro-text {
  height: 18vh; /* 15% of the viewport height */
  min-height: 200px;
  max-height: 300px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ececec;
}

.intro-text button {
  padding: 10px 10px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: none;
  color: #ffffff;
  box-shadow: 0px 2px 5px #000;
  cursor: pointer;
  background: rgb(177, 8, 255);
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.intro-text button:hover {
  box-shadow: 0px 4px 8px #000;
  transform: scale(1.1, 1.1);
}
.intro-text button:focus {
  box-shadow: 0px 4px 8px #000;
  transform: scale(1.1, 1.1);
}

/* ----------- How it works section ------------ */
.section_1 {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 380px;
  gap: 30px;
  background-color: #ffffff;
}
@media screen and (min-width: 820px) {
  .section_1 {
    flex-flow: row;
    justify-content: space-around;
    padding-left: 0;
  }
}

.s1_instructions {
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 5px #000;
  background-color: #ececec;
  width: 85%;
  max-width: 450px;
  height: 60px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  white-space: nowrap;
  border-radius: 12px;
}
.s1_instructions:hover {
  box-shadow: 0px 4px 8px #000;
  transform: scale(1.1, 1.1);
}
.s1_instructions:focus {
  box-shadow: 0px 4px 8px #000;
  transform: scale(1.1, 1.1);
}
@media screen and (min-width: 820px) {
  .s1_instructions {
    flex-flow: row;
    justify-content: space-around;
    min-width: 300px;
    max-width: 400px;
    padding-left: 0;
  }
}
.s1_instructions:hover i, .s1_instructions--active i {
  color: #9356DC;
}

.s1_instructions:hover {
  background-color: rgba(177, 8, 255, 0.1);
}
.s1_instructions:focus {
  background-color: rgba(177, 8, 255, 0.1);
}

.s1_instructions i {
  color: #252525;
}

.fa-1, .fa-2, .fa-3 {
  color: #ffffff;
  font-weight: 300;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
}
.fa-1::before, .fa-2::before, .fa-3::before {
  color: #ffffff;
  font-weight: 300;
}

/* -------------- Section-2 ----------------- */
.section-2 {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 1150px;
  background-color: #ececec;
}

.section-2 h1 {
  float: left;
  margin-right: auto;
  margin-left: 40px;
}

.new {
  align-items: center;
  text-align: center;
  width: 60px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border-radius: 8px;
  background-color: #99E2D0;
  color: darkgreen;
}

.card_rest {
  position: relative;
  width: 80%;
  height: 250px;
  background-color: #ffffff;
  border-radius: 20px;
}

.card_rest img {
  height: 60%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card_body {
  flex: 1 1 auto;
  padding: 0% 5% 0% 5%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  border-radius: 5px;
  text-align: left;
}

.ResHeartMove {
  text-align: right;
}

/* ---------- Animated Heart ------------------ */
.ResHeartMove {
  border: none;
  background-color: inherit;
  position: relative;
  font-size: 1.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.ResHeartMove__bottom {
  opacity: 1;
  transition: opacity 1s;
}

.ResHeartMove:focus .ResHeartMove__bottom, .ResHeartMove:hover .ResHeartMove__bottom, .ResHeartMove:active .ResHeartMove__bottom {
  opacity: 0;
}

.ResHeartMove:focus .ResHeartMove__top, .ResHeartMove:hover .ResHeartMove__top, .ResHeartMove:active .ResHeartMove__top {
  opacity: 1;
}

.ResHeartMove__top {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s;
}

.ResHeartMove .far {
  display: block;
}

.ResHeartMove .fas {
  display: block;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ----------------- Footer -------------------- */
.footer {
  text-align: left;
  background-color: #252525;
  padding: 1.5em 0 2em 1.5em;
  line-height: 1.5em;
}
.footer * {
  color: #ffffff;
  list-style: none;
}
.footer img {
  filter: invert(1);
  width: 120px;
  padding-bottom: 10px;
}
.footer i {
  width: 25px;
}/*# sourceMappingURL=style.css.map */